# local files for developer Dmitry
plan.txt
typical_commands.txt

# env data
.env

# virtual env for debug in VS Code
venv

# static files
static/*
app/static/*
!static/.gitkeep

# Python files
*.pyc

# for debbugging on local file
launch.json

# for local coding file
db.sqlite3

/app/logs/*
/app/media/*