# local files for developer Dmitry
plan.txt
typical_commands.txt

# env data
.env

# virtual env for debug in VS Code
venv

static/*
!static/.gitkeep

# Python files
*.pyc

# for debbugging on local file
launch.json